body {
    text-align: center;
     }
 h1 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 100px;
   text-decoration: underline black;
     }
 h3 {
   font-family: sans-serif;
   font-size: 20px;
   color: green;
   text-decoration: underline green;
   font-style: oblique;
     }
  p {
     font-size: 25px;
     }
 .responsive {
   max-width: 100%;
   height: auto;
     }
 #img-caption {
   font-family: sans-serif;
   font-style: italic;
     }
 .tribute-link {
  font-size: 15px;
  color: greenyellow;
     }
 
 